.city-input {
  width: 54%;
  height: 50px;
  border: 2px outset #ec6e4c;
  border-radius: 30px;
  box-shadow: -1px 5px 20px rgba(231, 139, 115, 0.1);
}
.search-button {
  width: 20%;
  height: 51px;
  color: #48484a;
  background-color: #fdf8f6;
  border: 2px outset #ec6e4c;
  border-radius: 30px;
  box-shadow: -1px 5px 20px rgba(231, 139, 115, 0.1);
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #fdf1ee;
}

.city {
  font-size: 32px;
}

.weather-img {
  width: 150px;
}
.temp {
  font-size: 65px;
}
.item {
  position: relative;
  top: -34px;
}
.data-list {
  list-style: none;
}

@media (max-width: 600px) {
  .city-input,
  .search-button {
    height: 35px;
  }
  .city {
    font-size: 24px;
  }
  .weather-img {
    width: 90px;
  }
  .data-list {
    margin-right: 25px;
  }
}
